@using Entities
@model Product
<h3>Crear Categoria</h3>
<form method="post" asp-action="CrearProductoE" asp-controller="Productos">
    <div class="row">
        <input type="hidden" asp-for="ProductID" />
        <div class="col-md-3">
            Nombre
            <input type="text" class="form-control" asp-for="ProductName" />
        </div>

        <div class="col-md-3">
            Categoria
            <select asp-for="CategoryID" class="form-select">
                @foreach (var item in ViewBag.Categorias)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            Precio unitario
            <input type="number" class="form-control" asp-for="UnitPrice" />
        </div>
        <div class="col-md-3">
            Stock
            <input type="number" class="form-control" asp-for="UnitsInStock" />
        </div>
        <div class="col-md-3">
            <br />
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </div>
</form>
